@model Tactsoft.Core.Entities.Supplier


<div class="card">
    <form asp-action="Create">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPerson" class="control-label"></label>
                        <input asp-for="ContactPerson" class="form-control" />
                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label asp-for="CountryId" class="control-label"></label>
                            <label>
                                <a href="javascript:AddCountry()" title="Add Country">
                                    <i style="font-size:13pt; color:green" class="fas fa-plus-circle"></i>
                                </a>
                            </label>
                        </div>
                        <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId">
                            <option value="">Select Country</option>
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StateId" class="control-label"></label>
                        <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId">
                            <option value="">Select Country</option>
                        </select>
                        <span asp-validation-for="StateId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityId" class="control-label"></label>
                        <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId">
                            <option value="">Select City</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-footer">
            <div style="text-align:end">
                <a class="btn btn-outline-danger btn-sm" onclick="$('#MediumModal').modal('close');">
                    <i class="far fa-window-close"></i> Cancel
                </a>
                <button type="submit" value="Create" class="btn btn-outline-primary btn-sm">
                    <i class="far fa-save"></i> Save
                </button>
            </div>
        </div>
    </form>
</div>

<partial name="~/Views/UIComponents/_SmallModal.cshtml" />

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="~/admin-lte/js/countryCRUD.js"></script>